body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(242, 242, 242);
}
/*############## hidden confirmation box ##############*/

#confirmation_box {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: rgba(173, 168, 168,.7);
	z-index: 999998;
	display: none;
}

#inner_confirm_box {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 15px;
	width: 200px;
	height: 120px;
	border-radius: 5px;
	background-color: rgba(255,255,255, 1);
	box-shadow: 0px 10px 25px #888888;
	overflow: none;
	z-index: 999999;
}

#confirm_msg {
	position: relative;
	padding-top: 10px;
	text-align: center;
	color: rgb(107, 106, 106);
	overflow: none;
	
}
#cfrm_button_ctnr {
	width: 100%;
	height: 40px;
    padding-left: 18px;
	position: relative;
}
#confirm_ok {
	width: 164px;
	display: none;
	color: rgb(107, 106, 106);

}
#confirm_no {
	width:80px;
	position: relative;
	bottom: 0px;
	color: rgb(107, 106, 106);
}

#confirm_yes {
	width: 80px;
	bottom: 5px;
	color: rgb(107, 106, 106);
}

/*############### to-do list ##################*/


#to_do_list {
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 500px;
	/*text-align: center;*/
	/*border: border-image-source: lid 1px #888888;*/
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 10px 25px #888888;
}

h1 {
	text-align: center;
	color:rgb(79, 161, 242);
	padding-top: 15px;
}

h4 {
	text-align: center;
	color: rgba(150, 176, 186, .6);
}

#to_do_list form {
	width: 100%;
	margin-top: 50px;
	margin-left:90px
}

#list {
	margin-left: 60px;
}

#list ul{
	list-style: none;
}

#list span {
	width: 205px;
	color: rgb(107, 106, 106);
	border-radius: 4px;
	display: block;
}

#list span:hover {
	background-color: rgba(150, 176, 186, .3);
}

#input {
	width: 220px;
	height: 25px;
    border-radius: 5px;
    border: solid 1px rgba(150, 176, 186, .3);
}

#user_interaction {
	margin-top: 10px;
}

#user_interaction button {
	margin-top: 10px;
	color: rgb(107, 106, 106);
	border-radius: 5px;
	background-color: white;
	border: solid 1px rgba(150, 176, 186, .3);
}

#add_button {
	width: 50px;
}

#select_all {
	width: 70px;
}

